{% load static %}
<!-- jquery -->
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'assets/js/sticker.js' %}"></script>

<!-- main js -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- custom js  -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!-- ajax jquery link  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- toast plugin  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>